body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#000000, #003434, #000000);
    background-color: black;
    min-height: 100vh;
    min-width: 50vh;
}

h1 {
    color: #00ffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h2 {
    color: #00ffff;
    font-weight: 100;
}

.welcome1 h1 {
    padding: 0;
    line-height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
}

.welcome1 h2 {
    text-align: center;
    display: flex;
    line-height: 0%;
}

.welcome1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    flex-direction: column;
}

button {
    background-color: #00ffff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
}

.language-button {
    text-align: center;
}

a {
    color: #00ffff;
}

a:hover button {
    cursor: pointer;
}

.next-button {
    float: right;
    margin: 150px 150px;
}

.shutdown-button {
    bottom: 0;
    margin: 0;
    position: fixed;
    padding: 10px 5px;
}

#ok {
    width: 350px;
    text-align: center;
}

.ok {
    text-align: center;
}