body {
    margin: 0;
    padding: 0;
    font-family: BIOS;
    background: black;
    
}

@font-face {
    font-family: 'BIOS';
    src: url('../fonts/efiapp/BIOS.ttf')
}

a {
    text-decoration: none;
}

/*----------------------------------*/
/*EFI Colors                        */
/*----------------------------------*/

#black {
    color: #000000;
}

#blue {
    color: #0000ff;
}

#green {
    color: #00ff00;
}

#cyan {
    color: #00ffff;
}

#red {
    color: #ff0000;
}

#magenta {
    color: #ff00ff;
}

#brown {
    color: #964b00;
}

#lightgray {
    color: #d3d3d3;
}

#darkgray {
    color: #a9a9a9;
}

#lightblue {
    color: #90d5ff;
}

#lightgreen {
    color: #90ee90;
}

#lightcyan {
    color: #acfffc;
}

#lightred {
    color: #ff474c;
}

#lightmagenta {
    color: #ff80ff;
}

#yellow {
    color: #ffff00;
}

#white {
    color: #ffffff;
}