body {
    background-image: url('images/wallpaper0.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.taskbar iframe {
    border: none;
    padding: 5px;
}

.taskbar {
    text-align: center;
    overflow: hidden;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 60%;
    transform: translateX(-60%);
    height: 62px;
    width: 100%;
}

#taskbar {
    width: 99%;
    position: relative;
    overflow: hidden;
}